<div>
  <div class="flex align-center flex-col text-center p-3">
    <h1 class="text-3xl font-bold">Fill in your bio</h1>
    <h2 class="text-gray-500 mt-2">You won't be able to change this later</h2>
  </div>
  <div>
    <form action="" class="flex align-center flex-col p-2 space-y-3">
      <div class="flex align-center flex-col">
        <label for="" class="font-semibold mb-2">Full Name</label>
        <input type="text" class="mx-1 p-2 border" />
      </div>
      <div class="flex align-center flex-col">
        <label for="" class="font-semibold mb-2">Gender</label>
        <div class="flex gap-2">
          <!-- Male Button -->
          <button
            class="px-6 py-2 rounded-full border font-medium transition-colors hover:bg-blue-50 hover:border-blue-300 [&.active]:border-blue-500 [&.active]:bg-blue-100"
          >
            Male
          </button>

          <!-- Female Button -->
          <button
            class="px-6 py-2 rounded-full border font-medium transition-colors hover:bg-pink-50 hover:border-pink-300 [&.active]:border-pink-500 [&.active]:bg-pink-100"
          >
            Female
          </button>
        </div>
      </div>
      <div class="flex align-center flex-col">
        <label for="" class="font-semibold mb-2">Day Of Birth</label>
        <input type="date" name="" id="" class="p-2 border" />
      </div>
      <button class="rounded-full p-4 border text-white bg-black">
        <div class="flex justify-center">
          <h1 class="my-auto">Finish</h1>
        </div>
      </button>
    </form>
  </div>
</div>
