<div>
  <div class="flex justify-between p-4">
    <div>
      <h1 class="text-5xl mb-3">Journals</h1>
      <h2 class="text-gray-500 uppercase font-semibold">16 Journals</h2>
    </div>
    <div
      class="flex items-center justify-center w-15 h-15 rounded-full bg-pink-500 hover:bg-pink-600 transition-colors cursor-pointer"
      (click)="goToNewJurnal()"
    >
      <div class="text-white text-2xl font-bold leading-none">+</div>
    </div>
  </div>

  <div class="flex space-x-5 p-5">
    <button class="py-2 px-4 bg-black text-white rounded-2xl w-[100px]">
      Saved
    </button>
    <button class="py-2 px-4 bg-gray-200 text-gray-500 rounded-2xl w-[100px]">
      Drafts
    </button>
  </div>

  <div class="p-4 space-x-10">
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>
